In [37]:
##import numpy as np
import pandas as pd

dataFrame = pd.read_excel('loan_data.xlsx')
dataFrame1=dataFrame.head()

In [38]:
### Renaming a column
dataFrame=dataFrame.rename(columns={'Text':'Reason for Request'})  

### Loan to Income ratio added 
#dataFrame['LTI_Ratio'] = dataFrame['Loan_Amount']/dataFrame['Income']
#dataFrame

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [39]:
## We are going to try to take sample by slicing dataframe
sample = dataFrame.iloc[22500:]
print(sample)

                                      Reason for Request  Income Credit_Score  \
22500  I need money to purchase specialized tools for...  163371          808
22501  I need a loan to buy a truck and start a movin...  159097          850
22502  I need a loan to buy a reliable used car for w...   24414          841
22503  I need money to cover funeral expenses for a l...  124629          683
22504  I need funds to pay for my daughter's college ...  141809          448
...                                                  ...     ...          ...
23995  I need funds to pay for my daughter's college ...  195242          817
23996  I need financial assistance to launch my own Y...  150246          729
23997   I need money to open a small bookstore and cafe.   64571          650
23998  I want to buy a car for my rideshare business ...  115825          418
23999  I need financial help to cover maternity and d...  180440          769

      Loan_Amount DTI_Ratio Employment_Status  Approval
22500       15699      4.04          Employed  Approved
22501       49670      27.3          Employed  Approved
22502       10928     40.72        Unemployed  Rejected
22503       73952     21.71        Unemployed  Rejected
22504       51894     17.45        Unemployed  Rejected
...           ...       ...               ...       ...
23995       16403     24.32          Employed  Approved
23996      101572      9.97          Employed  Rejected
23997       30533     57.35          Employed  Rejected
23998       89837     10.37        Unemployed  Rejected
23999       15259     15.06          Employed  Approved

[1500 rows x 7 columns]

In [33]:
dataFrame.isnull().any() ### checking for missing values 
###dataFrame.describe()

Text                 False
Income               False
Credit_Score         False
Loan_Amount          False
DTI_Ratio            False
employment_Status    False
Approval             False
dtype: bool

In [ ]:
### Now we attempt to estimate the employment rate of applicants
emp_stat=dataFrame.groupby(['Employment_Status','Approval'])#['Reason for Loan Request']
#print(emp_stat)
emp_stat.describe()
#dataFrame.info()

In [16]:
### Taking a look at approvals vs reasons for loans 
reason_stat=dataFrame.groupby(['Credit_Score','Employment_Status','Approval'])['Reason for Request']
reason_stat.describe()

                                        count unique  \
Credit_Score Employment_Status Approval
300          employed          Rejected    18     17
             unemployed        Rejected    14     12
301          employed          Rejected    28     22
             unemployed        Rejected    17     16
302          employed          Rejected    21     19
...                                       ...    ...
849          employed          Rejected    14     14
             unemployed        Rejected    23     20
850          employed          Approved    13     11
                               Rejected     5      5
             unemployed        Rejected    22     17

                                                                                       top  \
Credit_Score Employment_Status Approval
300          employed          Rejected           I need a loan to start a small business.
             unemployed        Rejected  I need money to purchase updated equipment for...
301          employed          Rejected  I need financial support to renovate my rental...
             unemployed        Rejected  I want to consolidate my credit card debts int...
302          employed          Rejected  I need money to cover unexpected legal expense...
...                                                                                    ...
849          employed          Rejected  I need funds to launch my handmade jewelry bra...
             unemployed        Rejected  I need a loan to pay for legal fees related to...
850          employed          Approved  I want to invest in a rental property as a sou...
                               Rejected   I need money to open a small bookstore and caf茅.
             unemployed        Rejected  I need funds to upgrade my computer and buy so...

                                        freq
Credit_Score Employment_Status Approval
300          employed          Rejected    2
             unemployed        Rejected    2
301          employed          Rejected    3
             unemployed        Rejected    2
302          employed          Rejected    2
...                                      ...
849          employed          Rejected    1
             unemployed        Rejected    2
850          employed          Approved    2
                               Rejected    1
             unemployed        Rejected    2

[1402 rows x 4 columns]

From the Section above we find that being employed plays a major role in being considered for loans by financial institutions.
We can see clearly that none of the applicants who didn't have jobs were approved 
Almost 50% of the applicants were unemployed 

Being employed only gets you so far as well because there are still lots of other criteria to consider before someone is dimmed fit for loan approval

In [ ]:
import matplotlib.pyplot as plt
plt.plot(dataFrame1['Credit_Score'], dataFrame1['Income'])

In [ ]:
import seaborn as sbn

sbn.pairplot(dataFrame1)

In [18]:
print(dataFrame['DTI_Ratio'].mode())
print(dataFrame['Approval'].mode())

0    18.24
1    26.15
Name: DTI_Ratio, dtype: float64
0    Rejected
Name: Approval, dtype: object