In [23]:
##import numpy as np
import pandas as pd

dataFrame = pd.read_excel('loan_data.xlsx')
dataFrame.head()

,Text,Income,Credit_Score,Loan_Amount,DTI_Ratio,Employment_Status,Approval
0,I need a loan to pay for an international vaca...,26556,581,8314,79.26,employed,Rejected
1,I want to make home improvements like installi...,197392,389,111604,22.14,employed,Rejected
2,"I need a loan for home renovation, including a...",44561,523,34118,45.44,employed,Rejected
3,I need funds to buy new furniture and applianc...,190363,729,118757,10.22,unemployed,Rejected
4,I need a loan to start a small business.,61853,732,19210,44.13,employed,Approved

In [24]:
### Loan to Income ratio added 
dataFrame['LTI_Ratio'] = dataFrame['Loan_Amount']/dataFrame['Income']
dataFrame

,Text,Income,Credit_Score,Loan_Amount,DTI_Ratio,Employment_Status,Approval,LTI_Ratio
0,I need a loan to pay for an international vaca...,26556,581,8314,79.26,employed,Rejected,0.313074
1,I want to make home improvements like installi...,197392,389,111604,22.14,employed,Rejected,0.565393
2,"I need a loan for home renovation, including a...",44561,523,34118,45.44,employed,Rejected,0.765647
3,I need funds to buy new furniture and applianc...,190363,729,118757,10.22,unemployed,Rejected,0.623845
4,I need a loan to start a small business.,61853,732,19210,44.13,employed,Approved,0.310575
...,...,...,...,...,...,...,...,...
23995,I need funds to pay for my daughter's college ...,195242,817,16403,24.32,employed,Approved,0.084014
23996,I need financial assistance to launch my own Y...,150246,729,101572,9.97,employed,Rejected,0.676038
23997,I need money to open a small bookstore and cafe.,64571,650,30533,57.35,employed,Rejected,0.472859
23998,I want to buy a car for my rideshare business ...,115825,418,89837,10.37,unemployed,Rejected,0.775627
23999,I need financial help to cover maternity and d...,180440,769,15259,15.06,employed,Approved,0.084566

In [25]:
dataFrame.describe()

              Income  Credit_Score    Loan_Amount     DTI_Ratio     LTI_Ratio
count   24000.000000  24000.000000   24000.000000  24000.000000  24000.000000
mean   110377.552708    575.720333   44356.154833     34.719167      0.404346
std     51729.677627    159.227621   34666.604785     32.322471      0.228057
min     20001.000000    300.000000    1005.000000      2.530000      0.005174
25%     65635.750000    437.000000   16212.000000     14.507500      0.205641
50%    110464.000000    575.000000   35207.000000     24.860000      0.404541
75%    155187.000000    715.000000   65622.750000     41.840000      0.602582
max    200000.000000    850.000000  158834.000000    246.330000      0.799988